name: build Docker images

on:
  push:
    branches:
    - build/*

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v1

    - name: build docker-compose
      run: |
        docker-compose build
